base carbone v16.1.csv
scripts/node_modules/
node_modules/
versions/
public/*.json
**/.DS_Store
.env
nosgestesclimat.model.json
dottedNames.d.ts
index.js
quick-doc/situation-coverage.md
quick-doc/migration-report.md
.vscode/*